@charset "UTF-8";

header {
    grid: h;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    margin-left: 110px;



}

html, body {
    box-sizing: border-box;
    height: 100%; 
    margin: 0;
    padding: 0;
}

h2{
    margin: 35px;
    
}

main {
    display: grid;
    grid-template-areas: 
        "h h h h h h"
        "a a a a a a"
        "l l l l s s"
        "f f f f f f";
    box-sizing: border-box;
    min-height: 100vh; 
    width: 1400px; 
    margin: 0 auto;
    font-family: Arial, sans-serif;
    
    
}
.element {
    border-style: dashed;
    border-width: 25px; 
    border-color: #A4C6B8; 
}
#about {
    grid-area: a;
    

}

#hobbies {
    grid-area: l;
    background-image: url("images/Hiking-Mount-Monadnock-1024x532.jpg"); /* Replace "your-image.jpg" with the path to your image */
    background-size: cover;
    background-position: center;

    
}

ul{
    background-color: rgba(0,0,0,.75);
    width: 35%;
    color: white;
    padding: 4px;
    margin-left: 15px;
}
#education {
    grid-area: s;
    
   
}

p {
    margin: 35px;
}



nav {
    background-color: black;
    grid-area: n;
    display: none;
}

footer {
    background: linear-gradient(to bottom, #a4c6b8, #C4A7C3);
    grid-area: f;
    margin-left: 11px;
    margin-right: 11px;
}

section {
    background-color: #A4C6B8;
    margin: 2px;
    grid-area: s;
}